/* Mobile First Approach */

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* Variables */
:root {

  /* Primaries colors */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutrals colors */
  --transparent-white: hsla(0, 0%, 100%, 0.75); /*(paragraphs)*/
  --very-light-gray: hsl(0, 0%, 95%); /*(background, headings, buttons)*/
}


/* CSS Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--very-light-gray);
  line-height: 1.5;
}

h2 {
  font-family: 'Big Shoulders Display', cursive;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
}

p {
  color: var(--transparent-white);
  line-height: 1.7;
}

button {
  font-family: 'Lexend Deca', sans-serif;
  display: inline-block;
  background-color: var(--very-light-gray);
  color: var(--bright-orange);
  max-width: 9rem;
  padding: 1rem 2rem;
  cursor: pointer;
  border: 2px solid var(--very-light-gray);
  border-radius: 3.125rem;
}

button:hover {
  color: var(--very-light-gray);
}

footer {
  color: var(--very-dark-cyan);
}

.hidden {
  visibility: hidden;
}

.main__section .cards .card img {
  width: 3.75rem;
}

.container {
  max-width: 320px;
  margin: 4rem auto;
}

.cards {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding: 2.5rem 3rem;
  background-color: var(--bright-orange);
}

.card__orange {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  background-color: var(--bright-orange)
}

.card__dark-cyan {
  background-color: var(--dark-cyan);
}

.card__very-dark-cyan {
  background-color: var(--very-dark-cyan);
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.btn__orange {
  color: var(--bright-orange);
}

.btn__orange:hover{
  background-color: var(--bright-orange);
}

.btn__dark-cyan {
  color: var(--dark-cyan)
}

.btn__dark-cyan:hover {
  background-color: var(--dark-cyan);
}

.btn__very-dark-cyan {
  color: var(--very-dark-cyan);
}

.btn__very-dark-cyan:hover {
  background-color: var(--very-dark-cyan);
}

/* Media Queries - Copying Bootstrap breakpoints for the first time, for study purposes */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
  p {
    margin-bottom: 4rem;
    font-size: 1rem;
  }

  .container {
    max-width: 1100px;
  }

  .card {
    padding: 4rem 4.5rem;
  }

  .cards {
    flex-direction: row;
  }

  .card__orange {
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .card__very-dark-cyan {
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}